<% title('Новости') %>
<div class='page-header'>
  <h3>Новости</h3>
  <ul class="actions">
    <li><%= link_to 'Создать', new_admin_item_path, class: 'new' %></li>
  </ul>
</div>

<p>Список всех созданных новостей:</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Автор</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do | item | %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.title, admin_item_path(item) %></td>
        <td>
          <%= render 'admin/shared/author_info', locals: {author: item.author} %>
        </td>
        <td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class='text-center'><%= paginate @items %></div>