<%= simple_form_for([:admin, @article], :html=> { class: 'longf' }) do |f| %>
    <%= f.input :title, label: 'Название' %>
    <%= f.input :text, as: :bootsy, label: 'Содержание', :input_html => {:rows => 15} %>

    <%= f.fields_for :attachments do |p| %>

      <div id="button">
        <span class="input-group">
          <span class="file-upload btn btn-success">
            <i class="glyphicon glyphicon-folder-open"></i>
            &nbsp;Добавить файл
            <%= p.file_field :attach, multiple: true, class: 'upload' %>
          </span>
        </span>
      </div>
      <br>

      <table class="table table-striped">
        <tbody id="files">

          <% @attachments.each do |a| %>
            <tr>
              <td>
                <%= link_to a.attributes['attach'], "/attachment/#{a.attributes['id']}" %>
              </td>
              <td>
                <%= number_to_human_size(a.size) %>
              </td>
              <td>
                <%= check_box 'delete_attachments', a.attributes['id'], :class => 'hidden' %>
                <div class="btn btn-danger" onclick="removeBtnHandler(this);">
                  <i class="glyphicon glyphicon-trash"></i>
                  &nbsp;Удалить
                </div>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>

    <% end %>

      <br>

    <%= f.button :submit, class: 'btn-primary' %>
<% end %>
