<%= simple_form_for([:admin, @article], html: { class: 'longf' }) do |f| %>
    <%= f.input :title, label: 'Название' %>
    <%= f.input :text, as: :bootsy, label: 'Содержание', input_html: { rows: 15 } %>

    <table class="table table-striped">
      <tbody id="files">
      <%= f.simple_fields_for :attachments do |a| %>
        <tr>
          <td>
            <%= link_to a.object.attach.file.filename, a.object.attach.url %>
          </td>
          <td>
            <%= number_to_human_size(a.object.size) %>
          </td>
          <td>
            <%= a.check_box :_destroy, class: 'hidden' %>
            <div class="btn btn-danger">
              <i class="glyphicon glyphicon-trash"></i>
              &nbsp;Удалить
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div id="button">
      <span class="input-group">
        <span class="file-upload btn btn-success">
          <i class="glyphicon glyphicon-folder-open"></i>
          &nbsp;Добавить файл
          <%= f.simple_fields_for :attachments, @article.attachments.build do |p| %>
            <%= p.file_field :attach, class: 'upload' %>
          <% end %>
        </span>
      </span>
    </div>
    <br>

    <%= f.button :submit, class: 'btn-primary' %>
<% end %>
