<% title('Статьи') %>
<div class='page-header'>
  <h3>Статьи</h3>
  <ul class="actions">
    <li><%= link_to 'Создать', new_admin_article_path, class: 'new' %></li>
  </ul>
</div>

<p>Список всех созданных статей:</p>
<table class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Название</th>
    <th>Автор</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @articles.each do | article | %>
      <tr>
        <td><%= article.id %></td>
        <td><%= link_to article.title, admin_article_path(article) %></td>
        <td>
          <%= article.author.to_s %>
          <% if article.author.admin? %>
              <span class="label label-success">Admin</span>
          <% end %>
        </td>
        <td style="width: 1px;">
          <%= link_to edit_admin_article_path(article), class: 'btn btn-default btn-xs' do %>
              <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
        </td>
        <td style="width: 1px;">
          <%= link_to admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' do %>
              <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class='text-center'><%#= paginate @articles %></div>
