<% title(@article.title, "Статьи") %>
<div class="page-header">
  <h3><%= @article.title %></h3>

  <ul class="actions">
    <% admin_only do %>
        <li><%= link_to "Редактировать", edit_admin_article_path(@article), class: "edit" %></li>
        <li>
          <%= link_to "Удалить",
                      admin_article_path(@article),
                      method: :delete,
                      data: {confirm: "Вы действительно хотите удалить статью?"},
                      class: "delete"
          %>
        </li>
    <% end %>
  </ul>
</div>
<p><%= @article.text.html_safe %></p>

<% if @attachments.any? %>
    <p>
      <strong>Прикрепленные файлы:</strong>

    <table class="table table-hover">
      <tbody>
      <% @attachments.each do |a| %>
          <tr>
            <td>
              <%= link_to a.attributes['attach'], "/attachment/#{a.attributes['id']}" %>
            </td>
            <td>
              <%= number_to_human_size(a.size) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    </p>
<% end %>

<blockquote>
  <footer>
    <cite>Создано: <%= @article.author %>, <%= time_ago_in_words(@article.created_at) %> назад</cite>
  </footer>
</blockquote>