<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, label: 'Название' %>

    <%= f.input :text, label: 'Текст статьи' %>

    <% if @attachments.any? %>
      <p>
        <strong>Прикрепленные файлы:</strong>
        <table class="table table-hover">
          <tbody>
            <% @attachments.each do |a| %>
              <tr>
                <td style="width: 100%">
                  <%= link_to a.attributes['attach'], "/attachment/#{a.attributes['id']}" %>
                </td>
                <td>
                  <label class="btn-toggle">
                    <%= check_box 'delete_attachments', a.attributes['id'] %>
                    <span class="btn btn-default btn-xs">
                      <i class="glyphicon glyphicon-trash"></i>
                    </span>
                  </label>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </p>
    <% end %>

    <div class="form-group">
      <%= f.label :text, 'Прикрепить файл(ы)' %>
      <div class="input-group">
        <input id="uploadFile" class="form-control" placeholder="Choose File" readonly />
        <span class="input-group-btn">
          <div class="fileUpload btn btn-default">
            <i class="glyphicon glyphicon-folder-open"></i>
            <%= f.fields_for :attachments do |p| %>
              <%= p.file_field :attach, multiple: true, class:"upload", id:"uploadBtn" %>
            <% end %>
          </div>
        </span>
      </div>
      <script>
        document.getElementById("uploadBtn").onchange = function () {
          document.getElementById("uploadFile").value = this.value.replace(/.+[\\\/]/, "");
        };
      </script>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
