<% title(@article.title, 'Статьи') %>
<div class="page-header">
  <h3><%= @article.title %></h3>
</div>
<p><%= @article.text.html_safe %></p>


<% if @attachments.any? %>
    <strong>Прикрепленные файлы:</strong>

    <table class="table table-hover">
      <tbody>
        <% @attachments.each do |a| %>
          <tr>
            <td>
              <%= link_to a.attributes['attach'], "/attachment/#{a.attributes['id']}" %>
            </td>
            <td>
              <%= number_to_human_size(a.size) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

<% end %>

<blockquote>
  <footer>
    <cite>Создано: <%= @article.author %>, <%= time_ago_in_words(@article.created_at) %> назад</cite>
  </footer>
</blockquote>