<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Текст:</strong>
  <%= @article.text %>
</p>

<% if @attachments.any? %>
  <p>
    <strong>Прикрепленные файлы:</strong>

    <table class="table table-hover">
      <tbody>
        <% @attachments.each do |a| %>
          <tr>
            <td>
              <%= link_to a.attributes['attach'], "/attachment/#{a.attributes['id']}" %>
            </td>
            <td>
              <%#= link_to article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" do %>
                  <i class="glyphicon glyphicon-trash"></i>
              <%# end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </p>
<% end %>

<%= link_to 'Редактировать', edit_article_path(@article) %> |
<%= link_to 'Список публикаций', articles_path %>
