<% title(@user.email, "Пользователи") %>
<div class="page-header">
	<h2>Пользователь</h2>

	<ul class="actions">
		<li><%= link_to "Редактировать", edit_user_path(@user), class: "edit" %></li>
		<% admin_only do %>
			<li>
				<%= link_to "Удалить",
				admin_user_path(@user),
				method: :delete,
				data: {confirm: "Вы действительно хотите удалить данного пользователя?"},
				class: "delete"
				%>
			</li>
		<% end %>
	</ul>
</div>
<div class="row">
	<div class="col-md-3">
		<% if @user.avatar.blank? %>
		  <% if Rails.env.production? %>
		    <%= image_tag AWS::S3::S3Object.url_for('no_photo.jpg', 'doctorova', :authenticated => true), :size => "120"  %>
		  <% else %>
		    <%= image_tag 'no_photo.jpg',  :size => "120" %>
		  <% end %>
		<% else %>
		  <%= image_tag @user.avatar_url.to_s,  :size => "120" %>
		<% end %>
	</div>
    <div class="col-md-9">
		<h4>Статус: 
			<% if @user.admin? %>
		  		<strong>Администратор</strong>
			<% else %>
		  		<strong><h4>Пользователь</strong>
			<% end %>
		</h4>
		<h4>Имя: <strong><%= @user.firstname %></strong></h4>
		<h4>Фамилия: <strong><%= @user.lastname %></strong></h4>
		<h4>E-mail: <strong><%= @user.email %></strong></h4>
	</div>
</div>
