<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Блог
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse"> <!-- navbar-fixed-top -->
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Докторова Т.С.', root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="<%= "active" if current_page?("/") %>"><%= link_to "/", root_path, data: {toggle: "tooltip", placement: "bottom"}, title: "Первоначальная страница сайта" %></li>
          <% if controller.class.name.split("::").first == 'Admin' %>
            <li class='<%= 'active' if params[:controller] == 'admin/base' %>'><%= link_to "Админка", admin_root_path %></li>
            <% if params[:controller] == 'admin/users' %>
              <li class='active'><%= link_to "Пользователи", admin_users_path %></li>
            <% end %>
            <% if params[:controller] == 'admin/pages' %>
              <li class='active'><%= link_to "Страницы", admin_pages_path %></li>
            <% end %>
            <% if params[:controller] == 'admin/items' %>
              <li class='active'><%= link_to "Новости", admin_items_path %></li>
            <% end %>
          <% end %>
          <% if params[:controller] == 'items' %>
            <li class='active'><%= link_to "Новости", items_path %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% unless user_signed_in? %>
            <li><%= link_to ' Зарегистрироваться', new_user_registration_path, class: "glyphicon glyphicon-user", data: {toggle: "tooltip", placement: "bottom"}, title: "Зарегистрироваться на сайте" %></li>
            <li><%= link_to ' Войти', new_user_session_path, class: "glyphicon glyphicon-log-in", data: {toggle: "tooltip", placement: "bottom"}, title: "Войти на сайт под созданной учетной записью" %></li>
          <% end %>
          <% admin_only do %>
            <li>
              <%= link_to " Админка", admin_root_path, class: "glyphicon glyphicon-wrench", data: {toggle: "tooltip", placement: "bottom"}, title: "Административная часть для управления сайтом" %>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li>
                <%= link_to ' ' + current_user.email, user_path(current_user), class: "glyphicon glyphicon-user", data: {toggle: "tooltip", placement: "bottom"}, title: "Ваш профиль" %>
            </li>
            <li>
              <%= link_to ' Выход', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out', data: {toggle: "tooltip", placement: "bottom"}, title: "Разрегистрироваться" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li class='<%= 'active' if params[:controller] == 'items' %>'><%= link_to 'Новости', items_path, class: 'list-group-item' %></li>
          <% @pages.each do | page | %>
            <li class='<%= 'active' if current_page?(page_path(page)) %>'><%= link_to page.name, page_path(page), class: 'list-group-item' %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-7">
        <% flash.each do |key, message| %>
          <div class="alert alert-<%= key %>">
            <%= message %>
          </div>
        <% end %>
      	<%= yield %>
        <br>
        <br>
        <br>
      </div>
      <div class="col-md-3">
      	<h3 class='text-center'>Новости</h3>
        <table class="table table-hover">
          <tbody>
            <% Item.order("created_at DESC").limit(10).each do | item | %>
              <tr>
                <td><%= localize(item.created_at, :format => :long) %> - <%= link_to item.title, item_path(item) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "Все новости", items_path %>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default", id='developer_panel'>
    <div class="panel-heading">Develop info</div>
    <div class="panel-body"></div>
  </div>
  <div id='developer_panel' style='border: 1px solid'>
    ebat
  </div>
  <div class="navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a><i class="glyphicon glyphicon-th"></i></a></li>
          <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
