<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Uniblog" %></title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse"> <!-- navbar-fixed-top -->
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="<%= "active" if current_page?("/") %>"><%= link_to "/", root_path %></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
          <% admin_only do %>
            <li class="<%= 'active' if current_page?(controller: 'admin/users') || current_page?(controller: 'admin/base') || current_page?(controller: 'admin/items')%>"><%= link_to "Админка", admin_root_path %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% unless user_signed_in? %>
            <li><%= link_to ' Зарегистрироваться', new_user_registration_path, class: "glyphicon glyphicon-user" %></li>
            <li><%= link_to ' Войти', new_user_session_path, class: "glyphicon glyphicon-log-in" %></li>
          <% end %>
          <% admin_only do %>
            <li>
              <%= link_to " Админка", admin_root_path, class: "glyphicon glyphicon-wrench" %>
            </li>
        <% end %>
          <% if user_signed_in? %>
            <li>
                <%= link_to ' ' + current_user.email, user_path(current_user), class: "glyphicon glyphicon-user" %>
            </li>
            <li>
              <%= link_to ' Выход', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>">
        <%= message %>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#" class="list-group-item">Home <span class="badge">12</span></a></li>
          <li><a href="#" class="list-group-item">Новости<span class="badge"><%= Item.count %></span></a></li>
          <li><a href="#" class="list-group-item">Menuebat<span class="badge">12</span></a></li>
          <li><a href="#" class="list-group-item">Menukopat<span class="badge">12</span></a></li>
        </ul>
      </div>
      <div class="col-md-7">
      	<%= yield %>
      </div>
      <div class="col-md-3">
      	<h3 class='text-center'>Новости</h3>
        <% Item.order("created_at ASC").limit(10).each do | item | %>
          <p><%= localize(item.created_at, :format => :long) %> - <%= link_to item.title, item_path(item) %></p>
        <% end %>
      </div>
  </div>


</body>
</html>
